<!DOCTYPE html>
<html>
  <head>
    <!--[if gte mso 9]><xml>
     <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
     </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width" name="viewport"><!--[if !mso]><!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible"><!--<![endif]-->
    <title></title>
    <style id="media-query" type="text/css">
      body {
    margin: 0;
    padding: 0; }

    table, tr, td {
    vertical-align: top;
    border-collapse: collapse; }

    .ie-browser table, .mso-container table {
    table-layout: fixed; }

    * {
    line-height: inherit; }

    a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important; }

    [owa] .img-container div, [owa] .img-container button {
    display: block !important; }

    [owa] .fullwidth button {
    width: 100% !important; }

    [owa] .block-grid .col {
    display: table-cell;
    float: none !important;
    vertical-align: top; }

    .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
    width: 500px !important; }

    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%; }

    .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
    width: 164px !important; }

    .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
    width: 328px !important; }

    .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
    width: 250px !important; }

    .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
    width: 166px !important; }

    .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
    width: 125px !important; }

    .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
    width: 100px !important; }

    .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
    width: 83px !important; }

    .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
    width: 71px !important; }

    .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
    width: 62px !important; }

    .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
    width: 55px !important; }

    .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
    width: 50px !important; }

    .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
    width: 45px !important; }

    .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
    width: 41px !important; }

    @media only screen and (min-width: 520px) {
    .block-grid {
    width: 500px !important; }
    .block-grid .col {
    display: table-cell;
    Float: none !important;
    vertical-align: top; }
    .block-grid .col.num12 {
      width: 500px !important; }
    .block-grid.mixed-two-up .col.num4 {
    width: 164px !important; }
    .block-grid.mixed-two-up .col.num8 {
    width: 328px !important; }
    .block-grid.two-up .col {
    width: 250px !important; }
    .block-grid.three-up .col {
    width: 166px !important; }
    .block-grid.four-up .col {
    width: 125px !important; }
    .block-grid.five-up .col {
    width: 100px !important; }
    .block-grid.six-up .col {
    width: 83px !important; }
    .block-grid.seven-up .col {
    width: 71px !important; }
    .block-grid.eight-up .col {
    width: 62px !important; }
    .block-grid.nine-up .col {
    width: 55px !important; }
    .block-grid.ten-up .col {
    width: 50px !important; }
    .block-grid.eleven-up .col {
    width: 45px !important; }
    .block-grid.twelve-up .col {
    width: 41px !important; } }

    @media (max-width: 520px) {
    .block-grid, .col {
    min-width: 320px !important;
    max-width: 100% !important; }
    .block-grid {
    width: calc(100% - 40px) !important; }
    .col {
    width: 100% !important; }
    .col > div {
      margin: 0 auto; }
    img.fullwidth {
    max-width: 100% !important; } }

    </style>
  </head>
  <body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF">
    <!--[if IE]><div class="ie-browser"><![endif]-->
    <!--[if mso]><div class="mso-container"><![endif]-->
    <div class="nl-container" style="min-width: 320px;Margin: 0 auto;background-color: #FFFFFF">
      <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #FFFFFF;"><![endif]-->
      <div style="background-color: #ff99a3;">
        <div class="block-grid" style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ff99a3;">
          <div style="border-collapse: collapse;display: table;width: 100%;">
            <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#EEEEEE;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 500px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->
            <!--[if (mso)|(IE)]><td align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            <div class="col num12" style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
              <div style="background-color: transparent; width: 100% !important;">
                <!--[if (!mso)&(!IE)]><!-->
                <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                  <!--<![endif]-->
                  <div align="center" class="img-container center" style="padding-right: 0px; padding-left: 0px;">
                    <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
                    <img align="center" alt="Image" border="0" class="center" src="https://drry1n91s676l.cloudfront.net/images/logo.png" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;max-width: 195px; max-height: 60px" title="Image"><!--[if mso]></td></tr></table><![endif]-->
                  </div><!--[if (!mso)&(!IE)]><!-->
                </div><!--<![endif]-->
              </div>
            </div><!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
          </div>
        </div>
      </div>
      <div style="background-color:#FFFFFF;">
        <div class="block-grid" style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
          <div style="border-collapse: collapse;display: table;width: 100%;">
            <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#FFFFFF;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 500px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->
            <!--[if (mso)|(IE)]><td align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            <div class="col num12" style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
              <div style="background-color: transparent; width: 100% !important;">
                <!--[if (!mso)&(!IE)]><!-->
                <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                  <!--<![endif]-->
                  <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                  <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                    <div style="font-size:12px;line-height:14px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                      <p style="margin: 0;font-size: 12px;line-height: 14px">
                        <span style="font-size: 16px; line-height: 19px;"><strong>Hi <%= user_name %>,</strong></span>
                      </p>
                    </div>
                  </div><!--[if mso]></td></tr></table><![endif]-->
                  <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                  <div style="color:#666;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                    <div style="font-size:12px;line-height:14px;color:#666;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                      <p style="margin: 0;font-size: 14px;line-height: 17px">
                        Bạn hoặc một ai đó đã yêu cầu đặt lại mật khẩu tài khoản Edela của bạn. Nếu bạn không thực hiện yêu cầu, hãy bỏ qua email này. Bạn có thể đổi mật khẩu bằng cách ấn vào đường dẫn bên dưới.
                      </p>
                    </div>
                  </div><!--[if mso]></td></tr></table><![endif]-->
                  <!--[if (!mso)&(!IE)]><!-->
                </div><!--<![endif]-->
              </div>
            </div><!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
          </div>
        </div>
      </div>
      <div style="background-color:transparent;">
        <div class="block-grid" style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
          <div style="border-collapse: collapse;display: table;width: 100%;">
            <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 500px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->
            <!--[if (mso)|(IE)]><td align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            <div class="col num12" style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
              <div style="background-color: transparent; width: 100% !important;">
                <!--[if (!mso)&(!IE)]><!-->
                <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                  <!--<![endif]-->
                  <div align="center" class="button-container center" style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
                    <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://google.com" style="height:42px; v-text-anchor:middle; width:182px;" arcsize="10%" strokecolor="#E70042" fillcolor="#E70042"><w:anchorlock/><center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;"><![endif]-->
                     <a href="https://edela.vn/password/reset?u=<%= user_id %>&t=<%= reset_password_token %>" style="display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #E70042; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 162px; width: 122px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;mso-border-alt: none" target="_blank"><span style="font-size:16px;line-height:32px;">ĐỔI MẬT KHẨU</span></a> <!--[if mso]></center></v:roundrect></td></tr></table><![endif]-->
                  </div><!--[if (!mso)&(!IE)]><!-->
                </div><!--<![endif]-->
              </div>
            </div><!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
          </div>
        </div>
      </div>
      <div style="background-color:transparent;">
        <div class="block-grid" style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
          <div style="border-collapse: collapse;display: table;width: 100%;">
            <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 500px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->
            <!--[if (mso)|(IE)]><td align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            <div class="col num12" style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
              <div style="background-color: transparent; width: 100% !important;">
                <!--[if (!mso)&(!IE)]><!-->
                <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                  <!--<![endif]-->
                  <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                  <div style="color:#666;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                    <div style="font-size:12px;line-height:14px;color:#666;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                      <p style="margin: 0;font-size: 14px;line-height: 17px">
                        Thanks,
                      </p>
                      <p style="margin: 0;font-size: 14px;line-height: 17px">
                        Edela Team
                      </p>
                    </div>
                  </div><!--[if mso]></td></tr></table><![endif]-->
                  <!--[if (!mso)&(!IE)]><!-->
                </div><!--<![endif]-->
              </div>
            </div><!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
          </div>
        </div>
      </div>
      <div style="background-color:#F5F5F5;">
        <div class="block-grid" style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #F5F5F5;">
          <div style="border-collapse: collapse;display: table;width: 100%;">
            <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#F5F5F5;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 500px;"><tr class="layout-full-width" style="background-color:#F5F5F5;"><![endif]-->
            <!--[if (mso)|(IE)]><td align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
            <div class="col num12" style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: #F5F5F5;">
              <div style="background-color: transparent; width: 100% !important;">
                <!--[if (!mso)&(!IE)]><!-->
                <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                  <!--<![endif]-->
                  <div align="center" style="padding-right: 10px; padding-left: 10px; padding-bottom: 10px;">
                    <div style="line-height:10px;font-size:1px">
                      &#160;
                    </div>
                    <div style="display: table; max-width:151;">
                      <!--[if (mso)|(IE)]><table width="131" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:131px;"><tr><td width="32" style="width:32px; padding-right: 5px;" valign="top"><![endif]-->
                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px" width="32">
                        <tbody>
                          <tr style="vertical-align: top">
                            <td align="left" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top" valign="middle">
                              <a href="https://www.facebook.com/" target="_blank" title="Facebook"><img alt="Facebook" src="https://drry1n91s676l.cloudfront.net/images/facebook@2x.png" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important" title="Facebook" width="32"></a>
                              <div style="line-height:5px;font-size:1px">
                                &#160;
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table><!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 5px;" valign="top"><![endif]-->
                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px" width="32">
                        <tbody>
                          <tr style="vertical-align: top">
                            <td align="left" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top" valign="middle">
                              <a href="https://twitter.com/" target="_blank" title="Twitter"><img alt="Twitter" src="https://drry1n91s676l.cloudfront.net/images/twitter@2x.png" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important" title="Twitter" width="32"></a>
                              <div style="line-height:5px;font-size:1px">
                                &#160;
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table><!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 0;" valign="top"><![endif]-->
                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0" width="32">
                        <tbody>
                          <tr style="vertical-align: top">
                            <td align="left" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top" valign="middle">
                              <a href="https://plus.google.com/" target="_blank" title="Google+"><img alt="Google+" src="https://drry1n91s676l.cloudfront.net/images/googleplus@2x.png" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important" title="Google+" width="32"></a>
                              <div style="line-height:5px;font-size:1px">
                                &#160;
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table><!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
                    </div>
                  </div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                  <div style="color:#666;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                    <div style="font-size:12px;line-height:14px;color:#666;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                      <p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">
                        <span style="font-size: 12px; line-height: 14px;"><a href="https://google.com" rel="noopener noreferrer" style="color:#666;text-decoration: underline;" target="_blank">Email preferences</a></span>
                      </p>
                    </div>
                  </div><!--[if mso]></td></tr></table><![endif]-->
                  <!--[if (!mso)&(!IE)]><!-->
                </div><!--<![endif]-->
              </div>
            </div><!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
          </div>
        </div>
      </div><!--[if (mso)|(IE)]></td></tr></table><![endif]-->
    </div><!--[if (mso)|(IE)]></div><![endif]-->
  </body>
</html>